services:
  litellm:
    container_name: litellm
    image: ghcr.io/berriai/litellm:v1.80.15.rc.1
    env_file:
      - .env
    restart: unless-stopped
    ports:
      - "4000:4000"
    volumes:
      - ./litellm-config.yaml:/app/config.yaml
      - ~/.config/gcloud:/root/.config/gcloud
    command: ["--config", "/app/config.yaml", "--port", "4000"]
    extra_hosts:
      - host.docker.internal:host-gateway

  redis:
    container_name: redis-valkey
    image: valkey/valkey:8.1-alpine
    command: "valkey-server --save 30 1 --client-output-buffer-limit pubsub 256mb 64mb 60"
    healthcheck:
      test: "[ $$(valkey-cli ping) = 'PONG' ]"
      start_period: 5s
      interval: 1s
      timeout: 3s
      retries: 5
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    volumes:
      - redis:/data
    extra_hosts:
      - host.docker.internal:host-gateway
    ports:
      - "6379:6379"
    restart: unless-stopped

  postgresql:
    container_name: postgresql
    image: pgvector/pgvector:pg18-trixie
    environment:
      - POSTGRES_PASSWORD=strong-password
    ports:
      - "5432:5432"
    volumes:
      - postgresql:/var/lib/postgresql
      - ./database/initdb:/docker-entrypoint-initdb.d
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped

volumes:
  beyond-the-loop: {}
  litellm: {}
  redis: {}
  postgresql: {}
